////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

#include <atomic>
#include <chrono>
#include <stdint.h>

#include "gaia_internal/common/timer.hpp"

extern std::atomic<uint32_t> g_c;
extern std::chrono::steady_clock::time_point g_in_rule;

// Add timings to these.
// Convert stats log back to ms
// Time without stats logger at all.

// Do not time the multi-rule scenarios
ruleset rules_insert
{
    on_insert(t1)
    {
        g_in_rule = gaia::common::timer_t::get_time_point();
        g_c++;
    }
} // rules_perf_insert

ruleset rules_update
{
    on_update(a)
    {
        g_in_rule = gaia::common::timer_t::get_time_point();
        g_c++;
    }
} // rules_perf_update

ruleset rules_insert_10_serial : serial_group()
{
    on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}
    on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}
} // rules_insert_10_serial

ruleset rules_insert_10
{
    on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}
    on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}on_insert(t1){g_c++;}
} // rules_insert_10

ruleset rules_update_10_serial : serial_group()
{
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
} // rules_update_10_serial

ruleset rules_update_10
{
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
} // rules_update_10_serial

ruleset rules_update_50
{
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
} // rules_update_50

ruleset rules_update_100
{
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
} // rules_update_100

ruleset rules_update_500
{
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
} // rules_update_500

ruleset rules_update_1000
{
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
    {g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}{g_c+=(@a>0);}
} // rules_update_1000
