#include "gaia_barn_storage.h"

int g_rule_called = 0;
int g_insert_called = 0;
int g_update_called = 0;
int g_actuator_rule_called = 0;

using namespace gaia::barn_storage;

int g_text_mixed_called = 0;

void f (gaia::barn_storage::incubator_t i)
{
    i.sensor_list().insert(sensor_t::insert_row("TestSensor1", 0, 0.0));
    i.actuator_list().insert(actuator_t::insert_row("TestActuator1", 0, 0.0));
}

ruleset test_mixed
{
    OnInsert(incubator)
    {
        f(incubator);
        g_text_mixed_called++;
    }
}
