#include "gaia/logger.hpp"
#include "gaia/events.hpp"

// #define TEST_FAILURES
#include <atomic>

std::atomic<int32_t> g_rule_called;
std::atomic<int32_t> g_insert_called;
std::atomic<int32_t> g_update_min_temp_called;
std::atomic<int32_t> g_update_max_temp_called;
std::atomic<int32_t> g_update_sensor_value_called;
std::atomic<int32_t> g_actuator_rule_called;

ruleset test
{
    on_update(incubator.min_temp)
    {
        gaia_log::app().warn("[rule-1] begin {} {} {} {}", rule_context.ruleset_name, rule_context.rule_name, rule_context.event_type, rule_context.gaia_type);

        max_temp = sensor.value + min_temp;
        max_temp = sensor.value + 4;
        if (actuator.value > 0)
        {
            g_actuator_rule_called++;
        }

        if (sensor.value > 5)
        {
            actuator.value = 1000;
        }
        g_update_min_temp_called++;
        g_rule_called++;
    }

    on_update(incubator.max_temp)
    {
        gaia_log::app().warn("[rule-2] begin {} {} {} {}", rule_context.ruleset_name, rule_context.rule_name, rule_context.event_type, rule_context.gaia_type);
        g_update_max_temp_called++;
        g_rule_called++;
    }

    on_update(actuator.value)
    {
        gaia_log::app().warn("[rule-3] begin {} {} {} {}", rule_context.ruleset_name, rule_context.rule_name, rule_context.event_type, rule_context.gaia_type);
        g_actuator_rule_called++;
        g_rule_called++;
    }

    on_change(s:sensor.value)
    {
        gaia_log::app().warn("[rule-4] begin {} {} {} {}", rule_context.ruleset_name, rule_context.rule_name, rule_context.event_type, rule_context.gaia_type);
        max_temp = s.value + min_temp;
        max_temp = s.value + 4;
        if (actuator.value > 0)
        {
            g_actuator_rule_called++;
        }

        if ((const gaia::db::triggers::event_type_t)rule_context.event_type == gaia::db::triggers::event_type_t::row_insert)
        {
            g_insert_called++;
        }

        if ((const gaia::db::triggers::event_type_t)rule_context.event_type == gaia::db::triggers::event_type_t::row_update)
        {
            if (s.value > 5)
            {
                actuator.value = 1000;
            }
            g_update_sensor_value_called++;
        }
        g_rule_called++;
    }
}

ruleset test2
{
}

void use_string(const char*)
{

}

ruleset test3
{
    on_update(S:sensor, T:sensor)
    {
        use_string(S.name);
        use_string(T.name);
    }
}

ruleset testE13
{
    on_insert(sensor)
    {
        float daily = 0;
        daily += /sensor.value;
    }
}

#if 0
// This rule interferes with 'ruleset set' rules
ruleset test21
{
    on_insert(I:incubator)
    {
        I->actuator.value += 1.0;
    }
}
#endif

void use_float(float)
{
}

ruleset testE21
{
    on_update(incubator)
    {
        if (I:incubator.max_temp == 100.0)
        {
            use_float(I.min_temp);
        }
    }
}

#if 0
// This rule interferes with 'ruleset set' rules
ruleset test15
{
    on_change(incubator)
    {
        S:sensor.value = S.value * 1.01;
    }
}
#endif
