#include "gaia/logger.hpp"

int g_rule_called = 0;
int g_insert_called = 0;
int g_update_called = 0;
int g_actuator_rule_called = 0;

ruleset test
{
    {
        gaia_log::app().warn("[rule-1] begin {} {} {} {}", rule_context.ruleset_name, rule_context.rule_name, rule_context.event_type, rule_context.gaia_type);

        max_temp = sensor.value + 4;
        if (@actuator.value > 0)
        {
            g_actuator_rule_called++;
        }

        if (sensor.LastOperation == INSERT)
        {
            g_insert_called++;
        }

        if (sensor.LastOperation == UPDATE)
        {
            if (sensor.value > 5)
            {
                actuator.value = 1000;
            }
            g_update_called++;
        }
        g_rule_called++;
    }
}

ruleset test2
{
}
