////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: break within declarative if
ruleset test10
{
    on_update(incubator)
    {
        if (S:sensor.value > 99.0)
        {
            if (S.value > 100.0)
            {
                break;
            }
        }
    }
}

// CHECK: 'break' statement not in loop or switch statement
