/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: break from a nomatch block
ruleset test17
{
    on_update(incubator)
    {
        if (S:sensor.value > 50.0)
        {
            S.value += 1.0;
        }
        nomatch
        {
            break;
        }
    }
}

// CHECK: 'break' statement not in loop or switch statement
