/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: break within declarative for
ruleset test3
{
    on_update(incubator)
    {
        for (S:sensor)
        {
            if (S.value > 99.0)
            {
                break;
            }
        }
    }
}

// TESTCASE: continue within declarative for
ruleset test4
{
    on_update(incubator)
    {
        for (S:sensor)
        {
            if (S.value > 99.0)
            {
                continue;
            }
        }
    }
}

// CHECK: Use of non-declarative 'break' in declarative statements may not break out of a declarative loop. Consider adding a label to the declarative loop and using 'break label' instead.
// CHECK: Use of non-declarative 'continue' in declarative statements may not continue to the next iteration in a declarative loop. Consider adding a label to the declarative loop and using 'continue label' instead
// GAIAPLAT-1083 (fixed)
