// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: continue from a nomatch block
ruleset test19
{
    OnUpdate(incubator)
    {
        if (S:sensor.value > 50.0)
        {
            S.value += 1.0;
        }
        nomatch
        {
            continue;
        }
    }
}

// CHECK: 'continue' statement not in loop statement
// GAIAPLAT-1087
