////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: break to a misplaced label
ruleset test08
{
    on_update(sensor)
    {
        for (animal->F:feeding)
        {
BREAK_TARGET:
            int total_portions = 0;
            while (F.portion > 0)
            {
                total_portions += F.portion;
                break BREAK_TARGET;
            }
        }
    }
}

// CHECK:  Declarative label 'BREAK_TARGET' is defined in the incorrect scope.
