////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: attempt declarative break from while statement
ruleset test09
{
    on_update(sensor)
    {
BREAK_TARGET:
        int i = 10;
        while (i > 0)
        {
            --i;
            break BREAK_TARGET;
        }
    }
}

// CHECK: expected ';' after break statement
