/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: continue from a nomatch block
ruleset test20
{
    on_update(incubator)
    {
CONTINUE_TARGET:
        if (S:sensor.value > 50.0)
        {
            S.value += 1.0;
        }
        nomatch
        {
            continue CONTINUE_TARGET;
        }
    }
}

// CHECK: 'continue' statement not in loop statement
// GAIAPLAT-1088 (fixed)
