////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: non-declarative if statement cannot have break statement
ruleset test02
{
    on_update(I:incubator)
    {
        if (I.max_temp > 99.0)
        {
            break;
        }
    }
}

// CHECK: 'break' statement not in loop or switch statement
