/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: non-declarative if statement cannot have continue statement
ruleset test05
{
    on_update(I:incubator)
    {
        if (I.max_temp > 99.0)
        {
            continue;
        }
    }
}

// CHECK: 'continue' statement not in loop statement
// GAIAPLAT-1067 (fixed)
