// RUN: %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: break from a declarative statement
ruleset test18
{
    on_update(incubator)
    {
        for (/S:sensor)
        {
            if (S.value > 5)
            {
                break;
            }
        }
    }
}

// CHECK: Use of non declarative break in declarative statements may lead to unexpected results.
// GAIAPLAT-1083 (fixed)
