/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: connect/disconnect are not supported for VLR links
ruleset test_disconnect_child_parent_vlr_1_n
{
    on_insert(student)
    {
        for(/r:registration)
        {
            r.disconnect(student);
        }
    }
};

// CHECK: no member named 'disconnect' in 'registration_{{([a-z, 0-9]{32})}}__type'
