// RUN: %gaiat %s --

// TESTCASE: Delete the anchor row.
ruleset test01
{
    OnInsert(sensor)
    {
        sensor.Delete();
    }
}

void use_values(int, const char*);

// TESTCASE: Insert two different row types.
ruleset test02
{
    OnInsert(incubator)
    {
        auto Y = yield.Insert(bushels: 12);
        auto S = sensor.Insert(value: 100.0, name: "Turtles");
        use_values(Y.bushels, S.name);
    }
}

// TESTCASE: Delete a row found by implicit query.
ruleset test03
{
    OnInsert(sensor)
    {
        incubator.Delete();
    }
}

// TESTCASE: Delete rows found by implicit query.
ruleset test04
{
    OnInsert(incubator)
    {
        sensor.Delete();
    }
}

// TESTCASE: Delete rows selected by field content, through a tag.
// GAIAPLAT-1041 (fixed)
ruleset test05
{
    OnInsert(I:incubator)
    {
        for(S:sensor)
        {
            if (S.value > 98.6)
            {
                // Note that this will fail in execution without disconnecting first.
                S.Delete();
            }
        }
    }
}

// TESTCASE: Assign an Insert return value to a tag
ruleset test06
{
    OnInsert(sensor)
    {
        auto S = sensor.Insert(name: "Turtles", timestamp: 1995, value: 100.0);
    }
}

// TESTCASE: Assign an Insert value from an anchor's field
ruleset test07
{
    OnInsert(incubator)
    {
        auto S = sensor.Insert(name: "Turtles", timestamp: 1995, value: incubator.max_temp);
    }
}

// TESTCASE: Perform Inserts in a navigational loop
// GAIAPLAT-1110
ruleset test08
{
    OnInsert(incubator)
    {
        for (Y:yield)
        {
            int y;
            y = Y.bushels;
            feeding.Insert(portion: y);
        }
    }
}

// TESTCASE: Perform Inserts containing implicit navigation
ruleset test09
{
    OnInsert(incubator)
    {
        feeding.Insert(portion: yield.bushels);
    }
}

// TESTCASE: Perform Inserts with multiple fields from implicit navigation
// GAIAPLAT-1112
ruleset test10
{
    OnInsert(incubator)
    {
        farmer.Insert(name: crop.name, acreage: crop.acres);
    }
}
// TESTCASE: Perform Inserts with multiple fields from multiple implicit navigations
ruleset test11
{
    OnInsert(incubator)
    {
        farmer.Insert(name: crop.name, acreage: animal->feeding.portion);
    }
}
