////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    {
        actuator.value += @incubator.min_temp / 2;
    }
}

ruleset test
{
    {
        sensor.value += @incubator.max_temp / 2;
    }
}

// CHECK: Ruleset 'test' is defined more than once. Ruleset names must be unique.
