// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    {
        actuator.value += @incubator.min_temp / 2;
    }
}

ruleset test
{
    {
        sensor.value += @incubator.max_temp / 2;
    }
}

// GAIAPLAT-802
// CHECK: Ruleset names must be unique. Ruleset 'test' has been found multiple times.
