/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    {
        if (@actuator.value > 10 && @sensor.value > 10)
        {
        }
    }
}
// CHECK: A rule may not specify active fields from different tables.
