////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s %s -- 2>&1| FileCheck  %s

ruleset test
{
    on_insert(sensor)
    {
        actuator.value ++;
    }
}

// CHECK: The Translation Engine does not support more than one source ruleset file.
