/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    {
        if (actuator.timestamp < 5 )
        {
            actuator.value = 5;
        }
    }
}
// CHECK: No active fields were referenced in this rule.  Ensure that your rule references at least one active field or table.
