////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    {
        if (/@F:farmer.acreage > 10)
        {
            F.acreage = 5;
        }
    }
}

// CHECK: No active fields were referenced in this rule. Ensure that your rule references at least one active field or table.
