// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    on_insert(sensor)
    {
        actuator.value = @sensor.value + 5;
    }
}

// CHECK: Since one of 'on_insert', 'on_change', or 'on_update' was provided as part of the rule definition, specifying active fields using '@' inside the rule is not supported. Ensure you are specifying active fields using either the '@' sign in the rule or one of the rule definition attributes.

