// RUN: not %gaiat %s  -- 2>&1| FileCheck  %s

ruleset test
{
    {
        switch (sensor.LastOperation )
   	{
     	  case INSERT:
      	  actuator.value ++;
      	  break;
      	  default:
      	  break;
        }
    }
}

// CHECK: Navigation from a record that has been deleted is currently not supported. This condition occurs when a rule is subscribed to a delete operation and is referencing data related to the deleted record.
