////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: echo "illegal rule syntax - must be inside a code block" | FileCheck  %s
// %gaiat %s -- 2>&1| FileCheck  %s

ruleset test1
{
    actuator.value += @sensor.value;
}

// recommended message:
// CHECK: illegal rule syntax - must be inside a code block
