////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    on_update(sensor)
    {
        if (sensor.value == 5)
        {
            int value = 5;
        }
    }
}

// CHECK: Local variable 'value' hides a database field with the same name. Rename your local variable so that it doesn't conflict with an existing field name.
