// RUN: not %gaiat %s  -- 2>&1| FileCheck  %s

ruleset test
{
    {
		sensor.value ++;
        switch (sensor.LastOperation )
   		{
     	  case INSERT:
      	  break;
      	  default:
      	  break;
        }
    }
}

// CHECK: Referencing fields of a record that has been deleted is currently not supported. This condition occurs when a rule is subscribed to a delete operation and is referencing data related to the deleted record.
