////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test109
{
    on_insert(INC:incubator.max_temp)
    {
        incubator.min_temp = incubator.max_temp;
    }
}

// CHECK: A field may not be referenced in the 'on_insert' statement. The 'on_insert' attribute only accepts a table.
