// RUN: %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    on_update(sensor)
    {
        if (sensor.value == 5)
        {
            int value = 5;
        }
    }
}

// CHECK: Local variable 'value' hides a database field with the same name. Rename your local variable so that it doesn't conflict with an existing database field name.
