/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: %gaiat %s -- 2>&1| FileCheck  %s

ruleset test : tables(sensor)
{
    {
        actuator.value += @value / 2;
    }
}

// CHECK: warning: Table 'actuator' is not referenced in tables attribute.
