/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -output x.cpp -output y.cpp -- 2>&1| FileCheck  %s

ruleset test
{
    on_insert(sensor)
    {
        actuator.value ++;
    }
}

// CHECK: for the -output option: may only occur zero or one times!
