// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test
{
    on_insert(sensor)
    {
        actuator.value = @sensor.value + 5;
    }
}
// CHECK: Mixed use of 'on_' attributes (on_insert, on_change, or on_update) and specifying active fields using '@' is not supported. Use either an 'on_' attribute at the start of the rule or '@' within the rule.
