////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test124
{
    on_insert(incubator)
    {
        const char* s = "just a string";
        int i = 0;
        while (*s++)
        {
            i++;
        }
        if (i < 5)
        {
            i = 1;
        }
        nomatch
        {
            i = 3;
        }
    }
}

// CHECK: A non-declarative 'if' statement may not use nomatch.
