// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

void printf(const char*, int);

// TESTCASE: assign navigation result to declared variable
ruleset test43
{
    on_update(crop)
    {
        int bushel = yield.bushels;
        printf("%d\n", bushel);
    }
}

// CHECK: Initialization of declared variable with EDC objects is not supported
