/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test79
{
    on_insert(incubator)
    {
        if (sensor.value + actuator.value > 10)
        {
            actuator.value += value/2;
        }
    }
}

// CHECK: The reference to field 'value' is ambiguous; the field 'value' was found in multiple tables. Qualify your field with the table name (table.field) to disambiguate field names that occur in more than one table. You can also restrict the list of tables to search by specifying them in the ruleset 'tables' attribute.
