////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: assign insert call result to declared variable
ruleset test43
{
    on_update(incubator)
    {
        auto s4 = sensor.insert(name: actuator.name);
    }
}

// CHECK: Initialization of a declared variable with a Direct Access object is not supported.
