////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test00
{
    on_change(actuator.value)
    {
        actuator.value += isolated.age;
    }
}

// CHECK: No navigation path exists between tables 'actuator' and 'isolated'. Ensure that your schema has a relationship between these two tables.
