////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test79
{
    on_insert(incubator)
    {
        if (sensor.value + actuator.value > 10)
        {
            actuator.value += value/2;
        }
    }
}

// CHECK: The reference to field 'value' is ambiguous; the field 'value' is defined in multiple tables. To disambiguate field names that occur in more than one table, qualify the field with the table name (table.field). To restrict the list of tables to search, specify the tables in the ruleset 'tables' attribute.
