////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test02
{
    on_insert(S:sensor)
    {
        /i:incubator->S.value  = i.min_temp;
    }
}

// CHECK: Tag 'S' cannot be used in this context.
