/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test02
{
    on_insert(S:sensor)
    {
        /i:incubator->S.value  = i.min_temp;
    }
}

// CHECK: Tag 'S' cannot be used in this context.
