////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test10
{
    on_update(crop)
    {
        actuator.value += feeding.portion;
        sensor.value += acres;
    }
}

// CHECK: Multiple shortest paths exist between tables 'crop' and 'feeding'. Explicitly specify the navigation path between these two tables to resolve the ambiguity.
