////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s --

ruleset test16
{
    on_change(yield.bushels)
    {
        F:farmer->I:incubator->R:raised->A:animal->D:feeding->Y:yield->(C:crop.acres) = 0;
        (/F:farmer->I:incubator->R:raised->A:animal->D:feeding->Y:yield->C:crop.acres) = 0;
    }
}
