////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: use a field name in the place of a table name in a path
ruleset test43
{
    on_insert(animal)
    {
        animal->feeding->portion = 5;
    }

}

// CHECK: Field 'portion' cannot be used after a '->' in a path. Use a '.' to separate the table name from the field name.
