// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test1
{
    on_insert(i:incubator)
    {
        for (/s:sensor)
        {
            int s = 0;
        }
    }
}

// CHECK: Local variable 's' hides a tag defined with the same name. Rename your local variable or tag so that their names do not conflict.
