////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: %gaiat %s -- 2>&1| FileCheck  %s

ruleset test141
{
    {
        if (@incubator.min_temp < 97.0)
        {}
        nomatch (incubator.max_temp);
    }
}

// CHECK: expression result unused
