// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

//TODO GAIAPLAT-1026: remove Table attribute once this issue is fixed
ruleset test1 : Table(incubator)
{
    OnInsert(incubator)
    {
        while (farmer > 3)
        {
            farmer.acreage++;
        }
    }
}

// CHECK: invalid operands to binary expression
