/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

int strcmp(const char*, const char*);

ruleset test1
{
    on_insert(feeding)
    {
        int i = strcmp(feeding.portion, "three");
    }
}

// CHECK: no matching function for call to 'strcmp'
