/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: %gaiat %s --

// TESTCASE: Path without nomatch, guarded by declarative if condiiton.
//           The non-conditional portion causes error.
ruleset test19
{
    on_insert(sensor)
    {
        if (sensor->incubator && sensor->incubator.min_temp < 95.0)
        {
            sensor.value += 3.0;
        }
    }
}
