// RUN: echo "Tag used before it is declared." | FileCheck  %s
// not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: forbid using a tag in the do{} before it is declared in the while()
ruleset test09
{
    on_insert(sensor)
    {
        int val = 0;
        do
        {
            val += S.value;
        }
        while (S:sensor.value < 10);
    }
}

// CHECK: Tag used before it is declared.
