/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test1
{
    on_insert(incubator)
    {
        if (incubator)
        {
            farmer.acreage++;
        }
    }
}

// CHECK: value of type 'incubator__type' is not contextually convertible to 'bool'
