////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: break from within the nomatch block of a declarative if.
ruleset test56
{
    on_insert(incubator)
    {
        if (S:sensor.value > 99.9)
        {
            S.value -= 0.5;
        }
        else
        {
            S.value += 0.5;
        }
        nomatch
        {
            break;
        }
    }
}

// CHECK: 'break' statement not in loop or switch statement
