////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: forbid using a tag in the do{} before it is declared in the while()
ruleset test09
{
    on_insert(sensor)
    {
        int val = 0;
        do
        {
            val += S.value;
        }
        while (S:sensor.value < 10);
    }
}

// CHECK: Table 'S' was not found in the catalog. Ensure that the table you are referencing in your rule exists in the database
// CHECK: Local variable 'val' hides a database field with the same name. Rename your local variable so that it doesn't conflict with an existing field name
