////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s
ruleset test1
{
    on_insert(incubator)
    {
        while (farmer > 3)
        {
            farmer.acreage++;
        }
    }
}

// CHECK: invalid operands to binary expression
