// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: break from within the nomatch block of a declarative if.
ruleset test56
{
    OnInsert(incubator)
    {
        if (S:sensor.value > 99.9)
        {
            S.value -= 0.5;
        }
        else
        {
            S.value += 0.5;
        }
        nomatch
        {
            break;
        }
    }
}

// CHECK: 'break' statement not in loop or switch statement
