/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s
ruleset test1
{
    on_insert(incubator)
    {
        while (farmer > 3)
        {
            farmer.acreage++;
        }
    }
}

// CHECK: invalid operands to binary expression
