// RUN: echo "TODO error message" | FileCheck  %s
// not %gaiat %s -- 2>&1| FileCheck  %s

// TESTCASE: illegal navigation in the while() statement of a do-while
ruleset test48
{
    OnInsert(farmer)
    {
        int count = 0;
        do
        {
            count++;
        }
        while (farmer->yield.bushels < 10);
    }
}

// CHECK: TODO error message
