////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

int strcmp(const char*, const char*);

ruleset test1
{
    on_insert(feeding)
    {
        int i = strcmp(feeding.portion, "three");
    }
}

// CHECK: no matching function for call to 'strcmp'
