/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test58
{
    on_insert(test_table)
    {
        for (S:sensor)
        {

        }
    }
}

// CHECK: 'test_table' does not correspond to any table or field in the catalog.
