////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test00
{
    on_insert(sensor:sensor)
    {
        use_float(sensor.value);
    }
}

// CHECK: Tag 'sensor' cannot have the same name as a table or a field.
