////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test27
{
    on_insert(incubator)
    {
        // label:tag:table works for both label and tag.
        LABEL:I:incubator->sensor.value = I.max_temp - 1.0;
        if (actuator.value > 3.0)
        {
            goto LABEL;
        }
    }
}

// CHECK: use of undeclared label 'LABEL'
