// RUN: %gaiat %s --

#include "tags_test.h"

ruleset test1
{
    OnInsert(I:incubator)
    {
        use_float(I.min_temp);
    }
}

ruleset test2
{
    OnInsert(I:incubator)
    {
        I.min_temp += sensor.value;
        actuator.value = I.max_temp;
    }
}

ruleset test3
{
    OnInsert(I:incubator)
    {
        min_temp += sensor.value;
    }
}

ruleset test4 : Table(actuator, incubator)
{
    OnInsert(I:incubator)
    {
        I.min_temp += value;
    }
    OnInsert(A:actuator)
    {
        A.value += incubator.max_temp;
        value += min_temp;
    }
}

ruleset test5
{
    // One table.
    OnChange(A:actuator)
    {
        use_float(A.value);
    }
}

ruleset test6 : Table(actuator)
{
    // One field.
    OnChange(A:actuator.value)
    {
        use_float(A.value);
    }
}

ruleset test7
{
    // One table.
    OnUpdate(A:actuator)
    {
        use_float(A.value);
        float v = A.value;
    }
}

ruleset test8
{
    // One field.
    OnUpdate(A:actuator.value)
    {
        use_float(A.value);
    }
}

ruleset test9
{
    // Table & fields.
    OnUpdate(S:sensor, V:sensor.value, sensor.name, sensor.timestamp)
    {
        float v = S.value + V.value;
        sensor.name = "perimeter";
    }
}

ruleset test10 : Table(sensor)
{
    OnUpdate(S:sensor)
    {
        use_string(name);
    }
}

ruleset test11
{
    OnUpdate(S:sensor, T:sensor)
    {
        use_string(S.name);
        use_string(T.name);
    }
}
