////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test23
{
    on_insert(incubator)
    {
        // Ensure the label is a goto target using empty statement.
        // E.g. LABEL:; raised...
        LABEL:raised->animal.name = "bison";
        if (actuator.value > 3.0)
        {
            goto LABEL;
        }
    }
}

// CHECK: use of undeclared label 'LABEL'
