/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test14
{
    on_insert(S:sensor, A:actuator)
    {
        float v;
        v = S.value + A.value;
    }
}

// CHECK: A rule may not specify multiple tables or active fields from different tables in 'on_' attributes (on_insert, on_change, or on_update). Ensure that all your active field references belong to the same table.
