////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test17
{
    on_update(actuator)
    {
        /I:incubator->I:sensor.value = 0;
    }
}

// CHECK: Tag 'I' is already defined.
