// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

// GAIAPLAT-914
ruleset test27
{
    OnInsert(incubator)
    {
        // label:tag:table works for both label and tag.
        LABEL:I:incubator->sensor.value = I.max_temp - 1.0;
        if (actuator.value > 3.0)
        {
            goto LABEL;
        }
    }
}

// CHECK: use of undeclared label 'LABEL'
