// RUN: %gaiat %s --

#include "tags_test.h"

// #define TEST_FAILURES

ruleset test1
{
    OnInsert(I:incubator)
    {
        use_float(I.min_temp);
    }
}

ruleset test2
{
    OnInsert(I:incubator)
    {
        I.min_temp += sensor.value;
        actuator.value = I.max_temp;
    }
}

ruleset test3
{
    OnInsert(I:incubator)
    {
        min_temp += sensor.value;
    }
}

// GAIAPLAT-855 (fixed)
ruleset test4 : Table(actuator, incubator)
{
    OnInsert(I:incubator)
    {
        I.min_temp += value;
    }
    OnInsert(A:actuator)
    {
        A.value += incubator.max_temp;
        value += min_temp;
    }
}

ruleset test5
{
    // One table.
    OnChange(A:actuator)
    {
        use_float(A.value);
    }
}

// GAIAPLAT-855 (fixed)
ruleset test6 : Table(actuator)
{
    // One field.
    OnChange(A:actuator.value)
    {
        use_float(A.value);
    }
}

ruleset test7
{
    // One table.
    OnUpdate(A:actuator)
    {
        use_float(A.value);
        float v;
        v = A.value;
    }
}

ruleset test8
{
    // One field.
    OnUpdate(A:actuator.value)
    {
        use_float(A.value);
    }
}

ruleset test9
{
    // Table & fields.
    OnUpdate(S:sensor, V:sensor.value, sensor.name, sensor.timestamp)
    {
        float v;
        v = S.value + V.value;
        sensor.name = "perimeter";
    }
}

// GAIAPLAT-855 (fixed)
ruleset test10 : Table(sensor)
{
    OnUpdate(S:sensor)
    {
        use_string(name);
    }
}

ruleset test11
{
    OnUpdate(S:sensor, T:sensor)
    {
        use_string(S.name);
        use_string(T.name);
    }
}

ruleset test12
{
    OnUpdate(incubator)
    {
        farmer->Y:yield.bushels = 0;

        int unsigned i = 0;
        if (i == 0)
        {
            Y:yield.bushels += 1;
        }
    }
}

// GAIAPLAT-914
#ifdef TEST_FAILURES
ruleset test13
{
    OnInsert(incubator)
    {
        // label:tag:table works for both label and tag.
        LABEL:I:incubator->sensor.value = I.max_temp - 1.0;
        if (actuator.value > 3.0)
        {
            goto LABEL;
        }
    }
}
#endif

ruleset test14
{
    OnInsert(incubator)
    {
        // Ensure the label is a goto target using empty statement.
        LABEL:; sensor.value = max_temp - 1.0;
        if (actuator.value > 3.0)
        {
            goto LABEL;
        }
    }
}

ruleset test15
{
    // NOTE: the ".min_temp" field didn't cause this rule to fire, but
    // may serve as documentation for the rule's intended use.
    OnInsert(I:incubator.min_temp)
    {
        use_float(I.min_temp);
    }
}

// GAIAPLAT-829
ruleset test16
{
    OnUpdate(incubator)
    {
        int unsigned i = 0;
        if (i == 0)
        {
            F:farmer.acreage += 1;
        }
        else
        {
            F:farmer.acreage -= 1;
        }
    }
}

// GAIAPLAT-829
ruleset test17
{
    OnUpdate(incubator)
    {
        int unsigned i = 0;
        if (i == 0)
        {
            F:farmer.acreage += 1;
        }
        F:farmer.acreage -= 1;
    }
}

// GAIAPLAT-829
ruleset test18
{
    OnUpdate(incubator)
    {
        int unsigned i = 0;
        if (i == 0)
        {}
        else
        {
            F:farmer.acreage += 1;
        }
        F:farmer.acreage -= 1;
    }
}

// GAIAPLAT-829
ruleset test19
{
    OnUpdate(incubator)
    {
        int unsigned i = 0;
        if (i == 0)
        {
            /F:farmer.acreage += 1;
        }
        else
        {
            /F:farmer.acreage -= 1;
        }
    }
}

// GAIAPLAT-829
ruleset test20
{
    OnUpdate(incubator)
    {
        int unsigned i = 0;
        if (i == 0)
        {
            /F:farmer.acreage += 1;
        }
        /F:farmer.acreage -= 1;
    }
}

// GAIAPLAT-829
ruleset test21
{
    OnUpdate(incubator)
    {
        int unsigned i = 0;
        if (i == 0)
        {}
        else
        {
            /F:farmer.acreage += 1;
        }
        /F:farmer.acreage -= 1;
    }
}

// GAIAPLAT-951
// Dereference confused with tag usage.
#ifdef TEST_FAILURES
ruleset test22
{
    {
        auto r = context->record;
    }
}
#endif
