////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test07 : tables (S:sensor)
{
    {
        if (@value < 5)
        {
            value = 5;
        }
    }
}

// CHECK: Tag not allowed in a Table attribute
