/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test17
{
    on_update(actuator)
    {
        /I:incubator->I:sensor.value = 0;
    }
}

// GAIAPLAT-820 (fixed)
// CHECK: Tag 'I' is already defined.
