/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test22
{
    on_insert(incubator)
    {
        A:animal->feeding.portion = A.age + 1;
        if (actuator.value > 3.0)
        {
            goto A;
        }
    }
}

// CHECK: use of undeclared label 'A'
