/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: echo "Tag 'I' defined but not used." | FileCheck  %s
// not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test20
{
    on_insert(I:incubator)
    {
        actuator.value += 1.0;
    }
}

// GAIAPLAT-850 (V1)
// CHECK: Tag 'I' defined but not used.
