////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test05
{
    on_update(S:sensor)
    {
        float v = P.value;
    }
}

// CHECK: Table 'P' was not found in the catalog. Ensure that the table you are referencing in your rule exists in the database.
// CHECK: use of undeclared identifier 'P'
