////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test26
{
    on_change(I:incubator)
    {
        if (/I:incubator.max_temp == 100.0)
        {
            use_float(I.min_temp);
        }
    }
}

// CHECK: Tag 'I' is already defined.
