/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test15
{
    on_update(A:actuator, A:actuator)
    {
        use_float(A.value);
    }
}

// CHECK: Tag 'A' is already defined
