// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

// GAIAPLAT-808
ruleset testE61
{
    OnChange(actuator)
    {
        if (/I:incubator.max_temp == 100.0)
        {
            I:incubator.min_temp ++;
        }

    }
}

// CHECK: Tag 'I' is already defined.
// CHECK: I:incubator.min_temp ++;
// CHECK: use of undeclared identifier 'incubator'
