/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test06
{
    on_update(S:sensor)
    {
        float v = S.notavalue;
    }
}

// CHECK: no member named 'notavalue' in 'sensor__type'
