// RUN: echo "WARNING: Variable declaration hides a tag." | FileCheck  %s
// not %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test09
{
    OnChange(a:actuator)
    {
        float a;
        use_float(a.value);
    }
}

// GAIAPLAT-794
// CHECK: WARNING: Variable declaration hides a tag.
