// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test13
{
    on_update(S:sensor, A:actuator)
    {
        float v;
        v = S.value + A.value;
    }
}

// GAIAPLAT-799
// CHECK: Multiple anchor rows: A rule may not specify multiple tables or active fields from different tables in 'on_insert', 'on_change', or 'on_update'
