// RUN: %gaiat %s -- 2>&1| FileCheck  %s

#include "tags_test.h"

ruleset test11
{
    on_change(a:actuator)
    {
        if (a.value > 0.0)
        {
            float a;
            use_float(a);
        }
    }
}

// GAIAPLAT-794
// GAIAPLAT-1194
// CHECK: Local variable 'a' hides a tag defined with the same name. Rename your local variable or tag so that their names do not conflict.
