/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test07 : tables (S:sensor)
{
    {
        if (@value < 5)
        {
            value = 5;
        }
    }
}

// GAIAPLAT-819 (fixed)
// CHECK: Tag not allowed in a Table attribute
