/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

// RUN: not %gaiat %s -- 2>&1| FileCheck  %s

ruleset test16
{
    on_update(A:actuator)
    {
        use_float(A:actuator.value);
    }
}

// CHECK: Tag 'A' is already defined.
