/////////////////////////////////////////////
// Copyright (c) 2021 Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
/////////////////////////////////////////////

#include <gaia/logger.hpp>

ruleset vlr_rules
{
    on_update(floor_num)
    {
        gaia_log::app().info("{} has arrived at: {}", name, person->floor.department);

        auto me = name;

        if (0 != strcmp(me, person->floor->person.name))
        {
            gaia_log::app().info("{} says: Hi, {}!", name, me);
        }
        gaia_log::app().info("---");
    }
}
