/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

#include <iostream>
#include <string>

#include "gaia.h"

using namespace std;

ruleset hello_ruleset
{
    // Rule 1: Whenever a name is inserted,
    // insert a new greeting into the greetings table.
    on_insert(names)
    {
        // Form the greeting using the name.
        string new_greeting = "Hello " + string(names.name) + "!";

        // Insert the greeting.
        gaia::greetings_t::insert(new_greeting.c_str());
    }
    // Rule 2: Whenever a greeting is inserted,
    // output it to the console.
    on_insert(greetings)
    {
        // Output the greeting to the console.
        cout << endl << greetings.greeting << endl;
    }
}
