BasedOnStyle: LLVM
UseCRLF: false
UseTab: Never
IndentWidth: 4
AlignAfterOpenBracket: DontAlign
ColumnLimit: 0 # I would put some reasonable limit such as 120 columns

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# Align public/final/protected on the left.
AccessModifierOffset: -4

# This does not work with some clang-format versions. (below 11)
#AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All

# Parenthesis placement. Stroustrup style puts the braces on the new line (Laurentiu/Dax way)
BreakBeforeBraces: Allman
# https://stackoverflow.com/questions/29477654/how-to-make-clang-format-add-new-line-before-opening-brace-of-a-function
# I'd suggest using Linux: Like Attach, but break before braces on function, namespace and class definitions.

AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

AllowShortFunctionsOnASingleLine: None

# If false, all arguments will either be all on the same line or will have one line each.
BinPackArguments: false
BinPackParameters: false

# Merge multiple #include blocks together and sort as one. Then split into groups based on category priority:
# 1. Associated file header (XYZ.hpp)
# 2. C system headers.
# 3. C++ standard library headers.
# 4. third party library headers.
# 5. your other project headers.
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # C system headers.
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<c.*'
    Priority:        2
  # C++ library header.
  - Regex:           '^<.*'
    Priority:        12
  # Third party.
  - Regex:           'spdlog|flatbuffers|llvm|flatcc|cpptoml'
    Priority:        13
  # Everything else (gaia headers mostly).
  # Note: it would be helpful if gaia dependencies where under gaia/
  - Regex:           '.*'
    Priority:        14

KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: false

