# Editor files.
.vscode/
.idea/

# Build files.
build/
cmake-build-*/

# Emacs backups.
*~

# Compiled python files.
*pyc

# Python packaging folders.
*.egg-info/
dist/

# Generated header files.
*_generated.h

# Gdev configuration files.
gdev.cfg

# Generated gdev files.
*.gdev/

# Java class files
*.class

# Vim swap files
*.swp
