# EditorConfig is a file format and collection of text editor plugins
# for maintaining consistent coding styles between different editors
# and IDEs. Most popular editors support this either natively or via
# plugin.
#
# Check https://editorconfig.org for details.

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
charset = utf-8

[*.{c,h,hpp,cpp}]
indent_size = 4

[*.fbs]
indent_size = 4

[CMakeLists.txt]
indent_size = 2
