# Editor files.
.vscode/
.idea/

# Build files.
build/
bin/
target/
cmake-build-*/

# Emacs backups.
*~

# Compiled python files.
*pyc

# Python packaging folders.
*.egg-info/
dist/

# Generated header files.
*_generated.h

# Generated gdev files.
*.gdev

# Java class files.
*.class

# Mac OS index files.
.DS_Store

# Java IDE files.
.classpath
.factorypath
.project
.settings/
.clion.source.upload.marker
