fail_fast: false

exclude: ^(data|scratch|third_party)/
repos:
# Enabling this repo produces a list of files that are to be scanned.  DEBUG ONLY!
# - repo: meta
#   hooks:
#     -   id: identity
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
    - id: check-yaml
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
    - id: forbid-crlf
    - id: forbid-tabs

# - repo: https://github.com/pre-commit/mirrors-clang-format
#   rev: v13.0.0
#   hooks:
#     - id: clang-format
#       args:
#         - --Werror
#         - --style=file
#         - -i
#       exclude: ^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)

# Waiting on https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1848 and https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1849
# - repo: https://github.com/pocc/pre-commit-hooks
#   rev: master
#   hooks:
#     - id: cpplint
#       args:
#         - --linelength=120
#         - --filter=-whitespace,-build/namespaces

#     - id: oclint

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: master
  hooks:
    - id: shellcheck
    - id: script-must-have-extension
      exclude: ^(((data|scratch|third_party)/)|dev_tools/hooks/pre-commit)
      types: [shell, executable]

- repo: https://github.com/psf/black
  rev: 21.7b0
  hooks:
    - id: black
      stages: [merge-commit, commit, manual]
      exclude: ^(dev_tools/gdev/|production/tools/tests/gaiat/lit.cfg.py|production/db/core/)
    - id: black
      stages: [push, post-checkout, post-commit, post-merge, post-rewrite]
      exclude: ^(dev_tools/gdev/|production/tools/tests/gaiat/lit.cfg.py|production/db/core/)
      args:
        - --check
        - --diff
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
    - id: flake8
      exclude: ^(dev_tools/gdev/|production/tools/tests/gaiat/lit.cfg.py|production/db/core/)
      args:
        - --ignore=E203,E501,W503
- repo: https://github.com/PyCQA/pylint
  rev: v2.11.1
  hooks:
    - id: pylint
      exclude: ^(dev_tools/gdev/|production/tools/tests/gaiat/lit.cfg.py|production/db/core/|production/tests/python/ps_mem.py)
      args: [--disable=R0801]
