fail_fast: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
      exclude: ^third_party/
    - id: check-yaml
      exclude: ^(data|scratch|third_party)/
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
    - id: forbid-crlf
      exclude: ^(data|scratch|third_party)/
    - id: forbid-tabs
      exclude: ^(data|scratch|third_party)/

# - repo: https://github.com/pocc/pre-commit-hooks
#   rev: master
#   hooks:
#     - id: include-what-you-use
#       exclude: ^(data|scratch|third_party)/
#     - id: cpplint
#       exclude: ^(data|scratch|third_party)/
#       args:
#         - --linelength=120
#         - --filter=-whitespace

#     - id: oclint
#     - id: uncrustify

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: master
  hooks:
    - id: shellcheck
      exclude: ^(data|scratch|third_party)/
    - id: script-must-have-extension
      exclude: ^(((data|scratch|third_party)/)|dev_tools/hooks/pre-commit)
      types: [shell, executable]

- repo: https://github.com/psf/black
  rev: 21.7b0
  hooks:
    - id: black
      exclude: ^((data|scratch|third_party)/|dev_tools/gdev/|production/tools/tests/gaiat/lit.cfg.py|production/db/core/)
      args:
        - --check
        - --diff
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
    - id: flake8
      exclude: ^((data|scratch|third_party)/|dev_tools/gdev/|production/tools/tests/gaiat/lit.cfg.py|production/db/core/)
      args:
        - --ignore=E203,E501,W503
- repo: https://github.com/PyCQA/pylint
  rev: v2.11.1
  hooks:
    - id: pylint
      exclude: ^((data|scratch|third_party)/|dev_tools/gdev/|production/tools/tests/gaiat/lit.cfg.py|production/db/core/)
      args: [--disable=R0801]
