#include "phone.h"
#include <cstring>
#include <iostream>

using namespace std;

ruleset phone_ruleset {
  // print a message once it is received and it is my number
  {
    if (msg.LastOperation == INSERT) {
      //if (std::strcmp (@msg.Number, my_phone().c_str()) == 0) {
        if (true) {
        std::cout << "Number: " << @msg.Number << std::endl;
        std::cout << std::endl;
        std::cout << @msg.Text << std::endl;
        std::cout << std::endl; 
      }
    } 
  }
};
