#include <atomic>
#include <algorithm>
#include <string.h>
#include <memory>
#include "../inc/icampus.hpp"

//using namespace std;

ruleset campus_ruleset
{
    {         
        if( 1 == person.is_threat )
        {
            auto cbc = ICampus::get_callback_class();
            char buffer[256];
            sprintf(buffer, "'%s' is brandishing a weapon", @person.name);
            cbc->cb_alert("Deadly Threat", buffer, 2, "");
        }
        /*if( strcmp(person.location, "HI") == 0 )
        {
            auto cbc = ICampus::get_callback_class();
            cbc->cb_action("aa", "bb", "cc", "dd");
        }*/        
    }
}
