/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

#include <iostream>
#include <string>

#include "gaia_campus.h"

using namespace std;
using namespace gaia::campus;

ruleset campus_ruleset
{
    // Rule 1: Try to match a newly captured face signature
    // against those recorded in the 'persons' table.
    // If no matches were found, insert a new row for the person.
    // If a match is found and the person was marked for an alert,
    // then issue an alert along with the alert information for that person.
    {
        if (face_scanning.LastOperation == INSERT)
        {
            string face_scan = face_scanning.face_signature;

            bool found_match = false;
            for (auto& person : persons_t::list())
            {
                if (face_scan.compare(person.face_signature()) == 0)
                {
                    found_match = true;

                    cout
                        << endl << "Found match for face signature '" << face_scan << "'!"
                        << endl << "Person matched: ";
                    if (strlen(person.first_name()) == 0 && strlen(person.last_name()) == 0)
                    {
                        cout << "Previously seen unknown person.";
                    }
                    else
                    {
                        cout << person.first_name() << " " << person.last_name() << ".";
                    }
                    cout << endl;

                    if (person.alert_on_sight())
                    {
                        cout
                            << endl << "ALERT! ALERT! ALERT!"
                            << endl << "This person was flagged as: '" << person.alert_description() << "'"
                            << endl;
                    }

                    break;
                }
            }

            if (!found_match)
            {
                persons_t::insert_row("", "", "", "", face_scan.c_str(), false, "");

                cout
                    << endl << "Failed to find a match for face signature '" << face_scan << "'!"
                    << endl << "Inserted a new database record for this unknown person."
                    << endl;
            }
        }
    }
}
