/////////////////////////////////////////////
// Copyright (c) 2021 Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
/////////////////////////////////////////////

#include <gaia/logger.hpp>

ruleset vlr_rules
{
    on_update(person.level_number)
    {
        gaia_log::app().info("{} has arrived at: {}", name, department);

        const char* me = name;

        // The navigation path level->person refers to all people currently
        // on the same level as the singular person who fired this rule.
        // This statement prevents the person from saying "Hi" to themselves.
        if (0 != strcmp(me, level->person.name))
        {
            gaia_log::app().info("{} says: Hi, {}!", name, me);
        }
        gaia_log::app().info("---");
    }
}
