/////////////////////////////////////////////
// Copyright (c) 2021 Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
/////////////////////////////////////////////

#include <gaia/logger.hpp>

// A serial group is needed to prevent transaction conflicts over a dorm room
// when multiple students are processed in parallel.
ruleset vlr_serial_rules : serial_group()
{
    on_insert(student)
    {
        if (/dorm_room.capacity > 0)
        {
            // The student is automatically connected to the dorm room
            // because now their linked field (room_location) matches a room.
            student.room_location = dorm_room.location;
            dorm_room.capacity--;
            return;
        }
    }
}

// Without a serial group, rules in this ruleset run in parallel.
ruleset vlr_parallel_rules
{
    on_update(student.room_location)
    {
        gaia_log::app().info("{} has been assigned to dorm room {}.", name, location);
    }
}
