table {
    border: 1px solid darkgray;
    border-collapse: collapse;
    width: 33%;
}

th {
    border: 1px solid darkgray;
    border-collapse: collapse;
    background-color: rgb(4, 156, 207);
    color: white;
}

td {
    border: 1px solid darkgray;
    border-collapse: collapse;
    text-align: center;
    color: black;
}

tr {
    background-color: white;
}

#tables tr:nth-child(even){
    background-color: #f2f2f2;
}

#tables tr:hover{
    background-color: #ddd;
}