/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

#include <string>

#include "gaia/logger.hpp"

#include "constants.hpp"
#include "gaia_ping_pong.h"

using namespace std;

ruleset ping_pong_ruleset
{
    {
        static int count = 0;
        count++;

        if (ping_pong.LastOperation == INSERT)
        {
            gaia_log::app().info("Rules insert status: {}", ping_pong.status);
        }

        if (strcmp(ping_pong.status, c_ping) == 0)
        {
            if (count % 1000 == 0)
            {
                gaia_log::app().info("Rules:{} iteration:{}", ping_pong.status, count);
            }
            // If I dont' use a fully qualified name, it will fail here.
            status = c_pong;
        }
    }
}
