/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

#include <iostream>
#include <string>

#include "gaia_hello.h"

using namespace std;

ruleset school_ruleset
{
    // Rule 1: Whenever a name is inserted,
    // insert a new greeting into the greetings table.
    {
        cout << endl << "Rule 1 was triggered!" << endl;

        // This LastOperation reference will indicate to the system
        // that this rule should be triggered
        // by any insertion made into the names table.
        if (names.LastOperation == INSERT)
        {
            // Get the name.
            string new_name = names.name;

            // Form the greeting using the name.
            string new_greeting = "Hello " + new_name + "!";

            // Insert the greeting.
            gaia::hello::greetings_t::insert_row(new_greeting.c_str());
        }
    }
    // Rule 2: Whenever a greeting is inserted,
    // output it to the console.
    {
        cout << endl << "Rule 2 was triggered!" << endl;

        // This LastOperation reference will indicate to the system
        // that this rule should be triggered
        // by any insertion made into the greetings table.
        if (greetings.LastOperation == INSERT)
        {
            // Output the greeting to the console.
            cout << endl << greetings.greeting << endl;
        }
    }
}
