/////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
// All rights reserved.
/////////////////////////////////////////////

#include <atomic>
#include <algorithm>

using namespace std;

extern atomic<int> g_timestamp;
constexpr float c_fan_speed_limit = 5000.0;
constexpr float c_fan_speed_increment = 500.0;
constexpr float c_fan_threshold = 0.7f;

ruleset incubator_ruleset
{
    // Rule 1:  keep the temperature with the range of the minimum and
    // maximum limits of the incubator.
    {
        // Prefixing an active field that is being read with '@' signals to the Gaia Platform that this 
        // rule should not be called if the field changes. If the '@' were not present, then this rule 
        // would be called if the incubator turned on or off.
        if (!@incubator.is_on)
        {
            return;
        }

        if (sensor.value >= incubator.max_temp)
        {
            actuator.value = min(c_fan_speed_limit, @actuator.value + c_fan_speed_increment);
            actuator.timestamp = g_timestamp;
        }
        else if (sensor.value <= incubator.min_temp)
        {
            actuator.value = max(0.0f, @actuator.value - (2*c_fan_speed_increment));
            actuator.timestamp   = g_timestamp;
        }
    }

    // Rule 2:  Turn off all the fans if the incubator is powered down.    
    {
        if (!incubator.is_on)
        {
            actuator.value = 0;
            actuator.timestamp = g_timestamp;
        }
    }

    // Rule 3:  If the fan is at 70% of its limit and the temperature is still too hot then
    // set the fan to its maximum speed.
    {
        if (actuator.value == c_fan_speed_limit)
        {
            return;
        }

        if (actuator.value > c_fan_threshold * c_fan_speed_limit && @sensor.value > @incubator.max_temp)
        {
            actuator.value = c_fan_speed_limit;
        }
    }
}
