---
name: Documentation

on:
  workflow_dispatch:
env:
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock
  DEV_IMAGE: ghcr.io/gaia-platform/dev-base-gaia-platform:latest

jobs:

  Third-Party:
    runs-on: ubuntu-20.04
    env:
      GAIA_REPO: ${{ github.workspace }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master

      - name: Create Directory To Host Install Package Cache
        shell: bash
        run: |
          mkdir -p ${{ github.workspace }}/doxygen-output
          sed -i 's|@CMAKE_CURRENT_BINARY_DIR@|/github/workspace/doxygen-output|g' ${{ github.workspace }}/production/docs/doxyfile
          sed -i 's|@CMAKE_CURRENT_SOURCE_DIR@/../|/github/workspace/production|g' ${{ github.workspace }}/production/docs/doxyfile

      - name: Generate Documentation
        uses: mattnotmitt/doxygen-action@v1.9.2
        with:
          doxyfile-path: /github/workspace/production/docs/doxyfile

      - name: Upload Output Files
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.job }} Output Files
          path: |
            ${{ github.workspace }}/doxygen-output
            ${{ github.workspace }}/production/docs/doxyfile
