---
name: Integration Tests Only

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  Integration_Tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 7
    env:
      GAIA_REPO: ${{ github.workspace }}
    strategy:
      fail-fast: false
      matrix:
        persistence: [enabled, disabled]
        suite-name: [smoke,marcopolo,pingpong,mink-perf,pingpong-perf,marcopolo-perf]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master

      - name: Run Integration Tests
        uses: ./.github/actions/integration-test-job
        with:
          gaia-repo: ${{ github.workspace }}
          job-name: ${{ github.job }}
          suite-name: ${{ matrix.suite-name }}
          db-persistence: ${{ matrix.persistence }}
