---
name: Main

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - jack/gha

jobs:

  Lint:
    runs-on: ubuntu-20.04
    env:
      GAIA_REPO: ${{ github.workspace }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master

      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Setup SSH Keys and known_hosts
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
# We do not need this as we are currently logging in using the github actor.
#         ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"

#         https://www.webfactory.de/blog/use-ssh-key-for-private-repositories-in-github-actions
#         If we do need to export, https://github.com/webfactory/ssh-agent might be better.
#         Combined with https://github.com/marketplace/actions/install-ssh-key ?

      - name: Log in to registry as GitHub
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
#         https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions#upgrading-a-workflow-that-accesses-ghcrio

      - name: XXXX
        run: |
          docker pull ghcr.io/gaia-platform/core:latest

      - name: Build Docker Image Using GDev.sh
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          cd $GAIA_REPO/production
          $GAIA_REPO/dev_tools/gdev/gdev.sh build

      - name: Rename Image and Publish
        run: |
          docker images
          docker tag production__run:latest ghcr.io/gaia-platform/core:latest
          docker images
          docker push ghcr.io/gaia-platform/core:latest
#         https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry
