---
name: Main

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - jack/gha

jobs:

  Lint:
    runs-on: ubuntu-20.04
    env:
      GAIA_REPO: ${{ github.workspace }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master

      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Setup SSH Keys and known_hosts
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
#                    ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"
      - name: XXX
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          cd $GAIA_REPO/production
          docker images
          $GAIA_REPO/dev_tools/gdev/gdev.sh build
          docker images
          docker tag production__run:latest ghcr.io/gaia-platform/core:latest
          docker images
          docker push ghcr.io/gaia-platform/core:latest
