name: Main

on:
  push:
    branches: [master]
    pull_request:

jobs:
  scenario-tests:
    strategy:
      matrix:
        python: [3.8]
        platform: [ubuntu-20.04]
    runs-on: ${{ matrix.platform }}
    steps:
      # - name: Say Hello
      #   run: echo Hello World!
      # - name: Say Goodbye
      #   run: |
      #     echo Job Finished.
      #     echo Goodbye!
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Setup Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install PipEnv
        uses: dschep/install-pipenv-action@v1
        with:
          version: 2021.5.29
      - name: Install Required Python Tools
        run: |
          sudo apt-get update && sudo apt-get install -y python3-pip
          python3.8 -m pip install --user atools argcomplete
      - name:
        run: |
      - name: X1
        run: |
          echo "Setup Environment"
          export GAIA_REPO=/home/runner/work/GaiaPlatform/GaiaPlatform

          echo Setup Link to Gdev
          mkdir -p ~/.local/bin && ln -s $GAIA_REPO/dev_tools/gdev/gdev.sh ~/.local/bin/gdev
          ls -la ~/.local/bin/gdev
          export PATH=$HOME/.local/bin:$PATH

          echo "1"
          cat /etc/docker/daemon.json
          echo "2"
          cat ~/.docker/config.json

          cd production
          gdev build --log-level=DEBUG
      # - name: Sync With Repository
      #   run: pipenv sync
      # - name: Execute Tests
      #   run: pipenv run pytest --cov-fail-under=90 --cov --cov-branch --cov-report xml:report/coverage.xml --cov-report html:report/coverage
      # - name: Report Coverage
      #   uses: codecov/codecov-action@v1
      #   if: github.event_name != 'schedule'
      #   with:
      #     file: ./report/coverage.xml
      #     name: ${{ matrix.python }} - ${{ matrix.platform }}
      #     fail_ci_if_error: true
